.product {
    position: relative;
    
    height: 100%;
    max-width: 576px;
    padding: 0.25rem;
    background: linear-gradient(
        180deg, #1ea483 0%, #7465d4 100% 
    );
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    border-radius: 8px;
    cursor: pointer;
    overflow: hidden;
    
    img {
        object-fit: cover;
    }
    
    &:hover {
        footer {
            transform: translateY(0%);
            opacity: 1;
        }       
    }
    
    footer {
        position: absolute;
        bottom: 0.25rem;
        left: 0.25rem;
        right: 0.25rem;
        
        padding: 1rem;
        background-color: rgba(0, 0, 0, 0.6);
        
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        border-radius: 6px;
        opacity: 0;
        transform: translateY(110%);
        transition: all 0.3s ease-in-out;
        
        .productInfo {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            
            strong {
                font-size: 1.25rem;
                color: var(--gray-100);
            }
            
            span {
                font-size: 1.5rem;
                font-weight: 700;
                color: var(--green-300);
            }
        }
        
        button[type="button"] {
            background-color: var(--green-300);
            padding: 0.5rem;
            
            font-size: 1.5rem;
            line-height: 0;
            color: var(--white);
            
            border: 2px solid transparent;
            border-radius: 6px;
            cursor: pointer;
            transition: background-color 0.3s, border-color 0.3s;
            
            &:hover {
                background-color: var(--green-400);
            }
            
            &:focus {
                outline: none;
                border-color: var(--white);
                background-color: var(--green-400);

            }
        }
    }
}