.product {
    display: flex;
    gap: 1.25rem;
    
    figure {
        background: linear-gradient(
        180deg, #1ea483 0%, #7465d4 100% );
        
        border-radius: 6px;
        
        img {
            object-fit: cover;
        }
    }
    
    .productInfo {
        display: flex;
        flex-direction: column;
    
        .productName {
            color: var(--gray-200);
            font-size: 1.10rem;
            line-height: 160%;
            
            margin-bottom: 2px;
        }
        
        .productPrice {
            color: var(--gray-100);
            font-size: 1.10rem;
            line-height: 160%;
            
            margin-bottom: auto;
        }
        
        button[type="button"] {
            width: fit-content;
            
            background-color: transparent;
            
            color: var(--green-400);
            font-size: 1rem;
            font-weight: 700;
            line-height: 160%;
        
            border: 2px solid transparent;
            border-radius: 6px;
            cursor: pointer;
            transition: color 0.3s, border-color 0.3s;
            
            &:hover {
                color: var(--green-300);
            }
            
            &:focus {
                outline: none;
                color: var(--green-300);
                border-color: var(--gray-100);
            }
        }
    }
}