.header {
    padding: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    
    .headerContainer {
        width: 100%;
        max-width: 1168px;
        
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        button[type="button"] {
            position: relative;
            
            background-color: var(--gray-700);
            padding: 0.5rem;
            
            font-size: 1.5rem;
            line-height: 0;
            color: var(--gray-300);
            
            border: 2px solid transparent;
            border-radius: 6px;
            cursor: pointer;
            transition: filter 0.3s, border-color 0.3s;
            
            &:hover {
                filter: brightness(1.15);
            }
            
            &:focus {
                outline: none;
                border-color: var(--gray-300);
                filter: brightness(1.15);
            }
            
            .shoppingCartProductsLength {
                position: absolute;
                top: -1.45rem;
                right: -1.45rem;
                
                width: 2.5rem;
                height: 2.5rem;
                background-color: var(--green-400);
                
                display: flex;
                align-items: center;
                justify-content: center;
                
                color: var(--white);
                font-size: 0.975rem;
                font-weight: 700;
                
                border: 5px solid var(--gray-900);
                border-radius: 50%;
            }
        }
    }
}