.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    
    width: 30px;
    height: 50px;
    fill: #fff;
    cursor: pointer;
    
    &.arrowLeft {
        left: 2rem;
    }
    
    &.arrowRight {
        right: 2rem;
        left: auto;
    }
}